@model IEnumerable<todo.Models.Item>

@{
    ViewBag.Title = "Song Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Song requests</h2>

<p class="button">
    @Html.ActionLink("Request song", "Create")
</p>

<p class="button">
    @Html.ActionLink("User", "Create")
</p>

<p class="button">
    @Html.ActionLink("Dj", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
